body {
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

/* ----------------------- MENU --------------------------*/
.nav-item a i {
    color: rgb(177, 175, 175);
    padding: 10px;
    font-size: 21px;
}

.link-active {
    color: rgb(52, 60, 82) !important;
}

.data-user {
    margin-left: 30%;
    padding-top: 8px;
    color: rgb(52, 60, 82);
}

.data-user div i {
    font-size: 21px;
    padding: 0 10px;
}

.data-user .user i:first-child{
    border-left: solid 1px #000;
    margin-right: -15px;
}

.box-round {
    border-radius: 10px;
}

.seven-col {
    font-size: 11px;
}

.seven-item {
    border-radius: 5px;
    border: solid 2px #0275d8;
    color: 	#0275d8;
    text-align: center;
    padding: 5px;
}

.seven-item:hover {
    cursor: pointer;
    background: #0275d8;
    color: white;
}
/* ----------------------- CARDS --------------------------*/
.card-img-top {
    height: 21vh;
}

.online {
    display: inline;
    position: relative;
    top: -185px;
    left: 7px;
    background: rgb(199, 0, 0);
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
}

.options-video {
    position: relative;
    top: -55px;
    left: 7px;
}

.options-video span {
    border-radius: 3px;
    border: solid 1px #fff;
    color: rgb(236, 235, 235);
    font-size: 11px;
    padding: 3px 5px;
}

.details-video-button {
    margin-top: -35px;
}

.details-video-button span {
    border-radius: 5px;
    background: rgb(133, 161, 163);
    color: white;
    padding: 5px 7px;
    font-size: 11px;
    transition: 0.5s all;
}

.options-video span:hover {
    cursor: pointer;
    background: rgba(250, 233, 233, 0.2);
    transition: 0.5s all;
}

.details-video-button .views {
    margin-left: 44px;
}

.details-video {
    margin-top: 15px;
}

.details-video .details {
    float: right;
    display: inline;
    font-size: 11px;
}

